/*$tableBackgroundColor: #FFF;
$table-highlight-color: #EAF3F3;
$fontColor: black;

table.table-list {
  background-color: $tableBackgroundColor;
  width: 100%;
  margin: 1em 0;
  color: $fontColor;

  th {
    padding: 1em 0 0 0.5em;
    font-weight: bold;
    border-bottom: 1px solid;
    a.sort {
      margin-left: 0.5em;
    }
  }

  td {
    padding: 1em 0.5em;
  }

  tbody{
    tr {
      &:nth-child(even) {
        background-color: $table-highlight-color;
      }
    }

  }
}

[data-focus='table-line'] {
    position: relative;

    [data-focus='table-line-actions'] {
        display: none;
    }

    &:hover {
        [data-focus='table-line-actions'] {
            display: inline-block;
        }
    }
}
*/
[data-focus='table-line'] {
    position: relative;

    [data-focus='table-line-actions'] {
        display: none;
    }

    &:hover {
        [data-focus='table-line-actions'] {
            display: inline-block;
        }
    }
}
