[data-focus='cartridge']{
  moz-box-shadow: 0px 1px 10px 2px #EAEAEA;
  -webkit-box-shadow: 0px 1px 10px 2px #EAEAEA;
  -o-box-shadow: 0px 1px 10px 2px #EAEAEA;
  box-shadow: 0px 1px 10px 2px #EAEAEA;
}
