
[data-focus="template"] {
    &.mdl-layout {
        //position: absolute;
        .mdl-layout__header {
            position: fixed;
        }
        @media (max-width: 1024px) {
            .mdl-layout__header {
                margin-left: 0;
                width: 100%;
                .mdl-layout__header-row {
                    padding-left: 40px;
                }
            }
        }
        .demo-drawer {
            position: fixed;
            header.demo-drawer-header {
                padding: 10px;
                height: auto;
                a {
                    color:#FFF;
                    text-decoration: none;
                }
                h1 {
                    margin: 0;
                    font-size: 22px;
                    background-image: url('../assets/logo-focus.png');
                    background-position: 50%;
                    background-repeat: no-repeat;
                    padding-top: 90px;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: Roboto;
                    font-weight: lighter;
                    strong {
                        margin: 0 3px 0 0;
                    }
                }
                h2 {
                    margin: 5px 0;
                    font-size: 14px;
                    text-align: center;
                    line-height: normal;
                    padding: 0;
                    text-transform: uppercase;
                    font-family: Roboto;
                    margin-bottom: 20px;
                    color:#757575;
                }
                .links {
                    text-align: center;
                    a {
                        display: inline-block;
                        margin: 0 5px;
                        i{
                            font-size: 24px;
                            line-height: 24px;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    .demo-content {
        padding: 90px 80px 40px 90px;
    }

    .demo-navigation {
        h3 {
            font-size: 18px;
            line-height: 18px;
            padding: 0;
            margin: 0;
            padding: 5px 20px;
            margin-bottom: 5px;
            font-weight: lighter;
        }
        .mdl-navigation__link {
            padding: 5px 20px;
            i {
                margin-right: 10px;
                font-size: 14px;
                width: 18px;
                text-align: center;
            }
        }
        .brand-powered{
            a {
                background: url('../assets/logo-klee.png') no-repeat bottom left;
                display: block;
                width: 110px;
                color: #FFF;
                padding-bottom: 35px;
                text-decoration: none;
                font-weight: lighter;
                text-transform: uppercase;
                font-size: 10px;
                margin: 10px auto;
            }
        }
    }

    [data-focus='live-component-popin'] {
        [data-focus='popin-window'] {
            width: calc(100vw - 290px);
        }
    }
}
