
[data-focus="field"] {
  label {
    text-align: right;
  }
  &[data-mode="consult"] {
    .input-group {
      border: 0;
      .form-control {
        border: 0;
      }
    }
  }
  &[data-mode="edit"] {
    &[data-domain]{
      border:1px solid red;
    }
    &[data-domain="DO_COMMENTAIRE"] {
      .form-control{

      }
    }
  }

}