$field-input-width-long: 400px;
$field-input-width-normal: 250px;
$field-input-width-short: 150px;
$field-input-width-date: 100px;
$field-label-font-size:13px; //TODO TGN à revoir.
$field-label-error-color:rgb(222, 50, 38);

div[data-focus="field"] {
    padding: 0;
    [data-focus="field-label-container"] {
        text-align: right;
        [data-focus="label"] {
            display: block;
            font-weight: bold;
            font-size: $field-label-font-size;
        }
    }
    &[data-mode="edit"] {
        &[data-valid="false"] {
            [data-focus="field-label-container"] {
                [data-focus="label"] {
                    color:$field-label-error-color;
                }
            }
        }
        &[data-required="true"] {
            [data-focus="field-label-container"] {
                [data-focus="label"] {
                    &:after {
                        content: "*";
                        margin-left: 3px;
                    }
                }
            }
        }
        [data-focus="field-label-container"] {
            [data-focus="label"] {
                margin:4px 0;
            }
        }
        [data-focus="field-value-container"]{
            select {
                margin: 2px 0;
            }
        }
        &[data-domain]{
            [data-focus="field-value-container"]{
                & > div {
                    width: $field-input-width-normal;
                }

                & > [data-focus="select-radio"] {
                    width: auto;
                }
            }
        }
        &[data-domain="DO_COMMENTAIRE"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
        &[data-domain="DO_DATE"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-date;
                text-align: center;
            }
        }
        &[data-domain="DO_LIBELLE_50"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_LIBELLE_250"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
        &[data-domain="DO_NOM"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_PRENOM"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_EMAIL"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
    }
}
