
[data-focus='quick-search'] {
    margin: 10px 0;
    [data-focus='quick-search-bar'] {
        padding: 10px 0;
        margin-bottom: 20px;
    }
    [data-focus='quick-search-results'] {
        padding: 10px 0;
        margin-top: 20px;
    }
}
