$field-input-width-long: 400px;
$field-input-width-normal: 250px;
$field-input-width-short: 150px;
$field-input-width-date: 90px;
$field-label-font-size:16px; //TODO TGN à revoir.

[data-focus="field"] {
    [data-focus="field-label-container"] {
        text-align: right;
        label {
            font-weight: bold;
            font-size: $field-label-font-size;
            line-height: $field-label-font-size;
        }
    }
    &[data-mode="edit"] {
        [data-focus="field-label-container"] {
            padding:24px 0; //TODO TGN à réduire par défaut.
            label {
                padding:4px 0; //TODO TGN à réduire par défaut.
            }
        }
        &[data-domain]{
            [data-focus="field-value-container"]{
                & > div {
                    width: $field-input-width-normal;
                }
            }
        }
        &[data-domain="DO_COMMENTAIRE"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
        &[data-domain="DO_DATE"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-date;
                text-align: center;
            }
        }
        &[data-domain="DO_LIBELLE_50"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_LIBELLE_250"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
        &[data-domain="DO_NOM"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_PRENOM"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-short;
            }
        }
        &[data-domain="DO_EMAIL"] {
            [data-focus="field-value-container"] > div {
                width: $field-input-width-long;
            }
        }
    }
}
