[data-focus='advanced-search'] {
   [data-focus='facet-container'] {
     float: left;
   }

   [data-focus='result-container'] {
     padding-left: 30px;
     display: table-cell;
     width: 5000px;
   }
}
