form {
    margin: 0;
    padding: 0;
    &[data-loading='true'] {
        [data-focus='panel']{
            position: relative;
            &:after {
                content: 'Loading...';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.19);
                text-align: center;
                color: #FFF;
            }
        }
    }
}
