
[data-focus="select-radio"] {
    &[data-valid='false'] {
        .label-error {
            color: $select-error-color;
            position: absolute;
            font-size: 12px;
        }
    }
}
