/* Style for the list component*/

/*variables*/
$boxSize:50px;
/*styles*/
ul.selection-list {
  list-style: none;
  padding: 0;
  margin:0;

  li {
    padding: 10px;
    background-color: #FFF;
    margin: 10px 0;
  }

  li.sl-line {
    cursor: pointer;
    padding-left: $boxSize + 10px;
    position: relative;

    div.sl-selection {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: $boxSize;
      display:none;
      background-color: #fff;
    }

    div.sl-actions {
      position: absolute;
      top : 0px;
      right : 0px;
      display: none;
    }

    &:hover {
      div.sl-selection {
        display: block;
      }

      div.sl-selection.no-selection {
        //background-size: $icon-size $icon-size;
        border-left:3px solid red;
      }

      div.sl-actions{
        display: inline-block;
      }
    }

    div.sl-selection.selected {
      //background-size: $icon-size $icon-size;
      display: block;
      border-left:3px solid green;
    }
  }

  li.sl-button{
    background-color: transparent;
    position: relative;

    a,button{
      position: absolute;
      right: 0px;
    }
  }

}