$header-top-row-menu-size:60px;
$header-top-row-padding:10px;
$header-top-cell-padding:15px;
$header-top-row-element-height:($header-top-row-menu-size) - ($header-top-row-padding * 2);

[data-focus='header-top-row'] {
    & > div {
        padding:$header-top-row-padding;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items: stretch;
        align-content: center;

        [data-focus^='header-top-row'] {
            height:$header-top-row-element-height;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 $header-top-cell-padding;
        }

        [data-focus='header-top-row-left'] {
            order:1;
            flex-grow: 0;
        }
        [data-focus='header-top-row-middle'] {
            order:2;
            flex-grow: 4;
        }
        [data-focus='header-top-row-right'] {
            order:3;
            flex-grow: 0;
            text-align: right;
        }
    }
}
