//Header.css
/*@mixin transition($transition-property, $transition-time) {
-webkit-transition: $transition-property $transition-time;
-moz-transition: $transition-property $transition-time;
-ms-transition: $transition-property $transition-time;
-o-transition: $transition-property $transition-time;
transition: $transition-property $transition-time;
}*/
$header-scrollspy-shadow-color: #EAEAEA;
@mixin shadow() {
    -moz-box-shadow: 0px 1px 10px 2px $header-scrollspy-shadow-color;
    -webkit-box-shadow: 0px 1px 10px 2px $header-scrollspy-shadow-color;
    -o-box-shadow: 0px 1px 10px 2px $header-scrollspy-shadow-color;
    box-shadow: 0px 1px 10px 2px $header-scrollspy-shadow-color;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=$header-scrollspy-shadow-color, Direction=180, Strength=10);
}
/*
@keyframes shrink {
from { height: auto; }
to { height: 0; }
}

@keyframes expend {
from { height: 0; }
to { height: auto; }
}*/

/*---------------------------------------------------------------*/
$duration: 0.5s;
$action-bar-height: 56px;
$menu-bar-size: 60px;

header[data-focus='header'] {

    div[data-focus="header-layout-content"] {
        background-color: white;
        color: black;
        @include shadow();

        div[data-focus="cartridge"] {
            padding: 70px 50px 35px $menu-bar-size+50;
        }
    }

    div[data-focus="header-bar"] {
        z-index: 1001;
        position: fixed;
        background-color: rgba(255, 255, 255, 1);
    }

    [data-focus="content-actions"] {
        margin: 0 0 0 60px;
        position: relative;
        top: -29px;
        text-align: right;
        padding-right: 200px;
    }

    //When the size is small, the cartridge is not visible.
    //min-height: 60px;

    //When the size is medium, the summary-bar is not visible.
    &[data-size="medium"] {
        [data-focus="header-layout-content"] {
            div[data-focus="header-bar"] {
                div[data-focus="bar-content-middle"] {
                    display: none;
                }
            }
            div[data-focus="cartridge"] {
                display: block;
            }
        }
    }

    //When the size is min  don't show the cartridge
    &[data-size="small"] {
        height: 120px;
        [data-focus="header-layout-content"] {
            div[data-focus="cartridge"] {
                display: none;
            }
            div[data-focus="header-bar"] {
                @include shadow();
            }
        }
        [data-focus="content-actions"] {
            position: fixed;
            top: 30px;
            right: 0;
            z-index: 1010;
        }
    }
}
