$layout-background-color: #FAFAFA;
$layout-scrollbar-color: rgb(161, 175, 181);
$layout-scrollbar-hover-color: #6AB2E5;
$layout-scrollbar-background-color: #e2e2e2;
$layout-menu-left-width: 60px;

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

/* color of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: $layout-scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
    background-color: $layout-scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $layout-scrollbar-hover-color;
}

[data-focus='layout'] {
    background-color: $layout-background-color;
    height: auto;
    min-height: 100%;

    [data-focus='page-content'] {
        margin-left: 0;
        padding: 10px 25px;
    }

    &[data-menu='left'] {
        [data-focus='page-content'] {
            padding-left:70px;
        }
        header, footer {
            padding-left:60px;
        }
    }

    [data-focus='footer'] {
        position: fixed;
        bottom: 0;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
        padding-left: 70px;
        width: 100%;
    }
}
