.popin {
  position: fixed;
  .full {
    min-height: 100vh;
    min-width: 50vw;

  }
  .centered {
    height: 80vh;
  }

  .header {

  }
}

.popin.left {
  top: 0px;
  left: 0px;
}
.popin.right {
  top: 0px;
  right: 0px;

}