
//todo restyle
.btns-confirmation-popin{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 10px 0;
}
.btn-confirmation-popin-close {
  margin-right: 20px !important;
}
.btn-confirmation-popin-confirm{

}
