[data-focus='input-date'] {
    height: 26px;
    width: 100%;
    display: block;
    [data-focus='picker-zone'] {
        background-color: #FFF;
        position: absolute;
        width: 277px;
        height:240px;
        z-index: 10;
        overflow: none;
        box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
        border-radius: 2px;
        padding: 5px;
        [data-focus='picker-closer'] {
            background-color: pink;
            position: absolute;
            left: 305px;
            cursor: pointer;
        }

        .date-picker {
            font-size: 13px;
            border:0;
            *:focus {
                outline: none;
            }
            .dp-nav-view {
                color:#707B81;
                font-size: 16px;
            }
            .dp-table, .dp-row, .dp-cell {
                border:0;
            }
            .dp-week-day-names {
                .dp-week-day-name {
                    color:#61A3C4;
                }
            }
            .dp-year-view {
                 .dp-month {
                     font-size: 13px;
                     color:#61A3C4;
                 }
            }
            .dp-decade-view {
                .dp-year {
                    color:#E84545;
                    font-size: 15px;
                }
            }
        }
    }
    /*
    .date-picker {
    display: block;
    width: 300px;
}

div.is-focused + div.date-picker {
display: block;
width: 300px;
}*/
}
