// Parameters

$small-size: 33%;
$medium-size: 50%;
$large-size: 67%;

$overlay-background-color: rgba(0, 0, 0, 0.4);
$full-margin-top: 80px;

// Mixins

@mixin set-min-height-width($width) {
  width: $width;
  min-height: 3/4 * $width;
}

@mixin set-popin-window-width($min-width) {
  .popin-window {
    width: $min-width;
  }
}

@mixin full-popin-size($size) {
  .popin-window {
    @extend %full-#{$size};
  }
}

// Placeholders

%full-small {
  @include set-min-height-width($small-size);
}

%full-medium {
  @include set-min-height-width($medium-size);
}

%full-large {
  @include set-min-height-width($large-size);
}

// Style

[data-focus='popin'] {
  &[data-type='full'] {

    @each $size in small, medium, large {
      &[data-size=#{$size}] {
        @include full-popin-size($size);
      }
    }

    .popin-window {
      margin: $full-margin-top auto;
    }
  }

  &[data-type='from-menu'] {

  }

  &[data-type='fill-height'] {
    .popin-window {
      height: 100vh;
      margin-left: 100px;
    }


    &[data-size='small'] {
      @include set-popin-window-width($small-size);
    }

    &[data-size='medium'] {
      @include set-popin-window-width($medium-size);
    }

    &[data-size='large'] {
      @include set-popin-window-width($large-size);
    }
  }

  .popin-overlay {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background-color: $overlay-background-color;

    .popin-window {
      background-color: white;
      z-index: 1000;

      .fa-close {
        float: right;
        cursor: pointer;
      }
    }
  }
}