.popin {
  position: fixed;
  .full {
    min-height: 600px;
    min-width: 900px;

  }
  .centered {
    min-height: 500px;
    min-width: 800px;
  }

  .header {

  }
}

.popin.left {
  top: 0px;
  left: 0px;
  margin: 10px 0 0 10px;
}
.popin.right {
  top: 0px;
  right: 0px;
  margin: 10px 10px 0 0;
}

.popin.down {
  right: 25%;
  margin: 10px 10px 0 0;
}

.popin.up {
  right: 25%;
  margin: 10px 10px 0 0;
}

.popin-close-btn {
  background-image:  url("../img/cross-popin.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  background-position: left 3px top 3px;
  cursor: pointer;
  z-index: 1050;
  position: relative;
}

.popin-close-btn:hover {
  background-color: rgba(244, 244, 244, 0.70);
}

.popin-close-btn.left {
  float: left;
  //margin-top: -10px;
  //margin-left: -10px;
}

.popin-close-btn.right {
  float: right;
  //margin-top: -10px;
  //margin-right: -10px;
}

.btn-close-right,
.btn-close-left{
  z-index: 1001;
}

.popin-layer {
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}