[data-focus='back-to-top'] {
    position: fixed;
    bottom: 8%;
    right: 5%;
}
/*$btt-position-size:100px;

[data-focus='back-to-top'] {
    cursor: pointer;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 8%;
    right: 5%;
    width: $btt-position-size;
    height: $btt-position-size;
    opacity: 0.99;
    z-index: 100;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(0, 0, 0.3);
    opacity: 0.2;
    border:0;
    border-radius: 20px;
    &:hover{
        opacity: 0.5;
    }
    &.invisible{
        display: none
    }
    i{
        font-size: 60px;
    }
}
*/
