@import "../../../../../node_modules/react-bootstrap-daterangepicker/css/daterangepicker";

[data-focus="input-date"] {
    width: 115px;
    [data-focus="input-text"] {
        position: relative;
        &:after {
            position: absolute;
            font-size: 20px;
            font-family: 'Material Icons';
            content: '\E8DF';
            top: 2px;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }
}

.daterangepicker {
    display: none;
    &.dropdown-menu {
        border: 1px solid #ccc;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
}
