[data-focus='message']{
    font-size: 14px;
    min-height: 14px;
    color: white;
    background-color: #323232;
    padding: 18px 24px;
    position: relative;
    button {
        position: absolute;
        border: none;
        right: 0;
        font-size: inherit;
        text-transform: uppercase;
        color: white;
        margin: 0px 10px 0px 0px;
    }
    &[data-message-type='success']{
        background-color: rgb(76, 175, 80);
        color: white;
    }
    &[data-message-type='info']{
        background-color: rgb(33, 150, 243);
        color: white;
    }
    &[data-message-type='error']{
        background-color: rgb(244, 67, 54);
        color: white;
    }
    &[data-message-type='warning']{
        background-color: rgb(255, 193, 7);
        color: white;
    }


}
