$list-action-left-width: 120px;
$list-action-right-width: 200px;
$list-action-bar-padding: 8px;


[data-focus="list-action-bar"] {
    box-shadow: 1px 1px 4px 1px #e7e7e7;
    background-color: #FFF;
    margin-bottom: 10px;

    [data-focus="global-list-content"] {
        width: $list-action-left-width;
        & > div {
            display: inline-block;
            position: relative;
        }
    }

    [data-focus="selected-facet-content"] {
        width: calc(100% - #{$list-action-left-width} - #{$list-action-right-width} - #{$list-action-bar-padding} * 2 * 3);
    }

    [data-focus='contextual-action-content'] {
        text-align: right;
        width: $list-action-right-width;
    }
}
