$list-action-bar-size: 55px;

[data-focus="list-action-bar"] {
  margin-top: 10px;
  box-shadow: 1px 1px 4px 1px #e7e7e7;
  height: $list-action-bar-size;
  line-height: $list-action-bar-size;

  [data-focus="global-list-content"] {
    float: left;
    height: $list-action-bar-size;
    line-height: $list-action-bar-size;
    width: 200px;
  }
  [data-focus="contextual-action-content"] {
    float: right;
    height: $list-action-bar-size;
    line-height: $list-action-bar-size;
  }
  [data-focus="selected-facet-content"] {
    height: $list-action-bar-size;
    line-height: $list-action-bar-size;
    margin-left: 200px;
    overflow: hidden;
  }
}