
[data-focus="list-summary"] {
    line-height: 55px;
    height: 55px;
    .sentence{
        font-size: 20px;
        margin-right: 20px;
        display:inline;
    }
    .print {
        float: right;
    }
    .topics {
        display:inline;
    }
}
