

.live-filter {
  width: 300px;
  background-color:#FFFFFF;
  ul {
    list-style-type: none;
  }
  .header {
    padding: 10px;
    background-color: #9B9B9B;
    height:45px;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .icon {
    background: url("../img/chevron-thin-left.svg") no-repeat right center;
    float: right;
    width: 30px;
    cursor: pointer;
  }
  .lf-facet {
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px;
    .title {
      background: url("../img/chevron-thin-up.svg") no-repeat right center;
      font-size: 14px;
    }
    .title:hover {
      cursor: pointer;
    }
    .lf-data:hover {
        background-color: #E6E6E6;
        cursor: pointer;
    }
    .show-all {
      cursor: pointer;
      text-align: right;
    }
    .show-all:hover {
      text-decoration: underline;
    }

  }
  .lf-facet.collapsed {
    background-color: #C8C8C8;
    .title {
      background: url("../img/chevron-thin-down.svg") no-repeat right center;
      font-size: 14px;
    }
  }

  .lf-facet.selected {
    .title {
      background: url("../img/cross.svg") no-repeat right center;
      font-size: 14px;
    }
  }
}

.live-filter.collapsed {
  width: 50px;
  .icon {
    background: url("../img/chevron-thin-right.svg") no-repeat right center;
  }
}