.live-filter.collapsed {
  width: 30px;
}
.live-filter.expanded {
  width: 250px;
}

.live-filter {
  min-height: 400px;
  .icon {
    float: right;
    height: inherit;
  }
  .facet-selected {
    .panel-heading {
      background-image: url("../img/cross.svg");
      background-repeat: no-repeat;
      background-position: 90%;
    }
  }
  .facet-collapsed {
    .panel-heading {
      background-image: url("../img/chevron-thin-down.svg");
      background-repeat: no-repeat;
      background-position: 90%;
    }
  }
  .facet-expanded {
    .panel-heading {
      background-image: url("../img/chevron-thin-up.svg");
      background-repeat: no-repeat;
      background-position: 90%;
    }
  }

  .panel-heading {
    cursor: pointer;
  }
  ul {
    list-style-type: none;
  }
  li {
    cursor: pointer;
  }
  li:hover {
    color: #E6E6E6;
  }
}
.chevron-thin-left {
  background: url("../img/chevron-thin-left.svg") no-repeat right center;
}
.chevron-thin-right {
  background: url("../img/chevron-thin-right.svg") no-repeat right center;
}