$panel-title-color:#36b7b9;
$panel-border-size:3px;


[data-focus='panel'] {
    width: 100% !important;
    margin-bottom: 30px;
    z-index: auto !important;
    border:$panel-border-size solid transparent;

    &.mdl-card {
        overflow: inherit;
    }

    [data-focus='panel-title'] {
        h1,h2,h3,h4 {
            margin: 0;
            margin-right: 20px;
            padding: 2px 0;
            font-size: 30px;
            color:$panel-title-color;
            display: inline-block;
        }
        .help-button {
            position: absolute;
            right: 20px;
        }
    }
    .actions {
        display: none;
    }
    [data-focus='panel-title'] {
        //override color here.
    }
    [data-focus='panel-actions'] {
        text-align: center;
        height: 50px;
    }

    [data-focus='panel-content'] {
        &.mdl-card__supporting-text {
            width: auto;
            overflow: inherit;
        }
    }

    &:hover {
        .actions {
            display: block;
        }
    }
}

[data-mode="edit"] {
    [data-focus='panel'] {
        border:$panel-border-size solid $panel-title-color;
        .actions {
            display: block;
        }
    }
}
