

[data-focus='letters-filter-bar'] {
 /* float: left;
  margin-right: 30px;*/
  [data-focus='letter-element'] {
    display: inline-block;
    padding: 0 10px 0 10px;
    background-color: #fff;
    color: #3CC098;
  }
  [data-focus='letter-element'].disabled {
    color: #999;
    background-color: #ccc;
  }
  [data-focus='letter-element'].selected {
    color: white;
    background-color: #3CC098;
    font-weight: bold;
  }
}
