

[data-focus='topic-displayer'] {
  .btn, {
    position: relative;

    &:after {
      content: "\f00d";
      font-family: FontAwesome;
      position: absolute;
      top: 6px;
      right: 9px;
    }
  }

}