
.btn {

  &.btn-fab {
    i {
      position: static;
    }
  }

  i{
    margin-right: 6px;
  }
  &.btn-ghost {
    border-radius: 25px;
    border: 1px solid #a1a1a1;
    padding: 5px 15px;
  }
}

