$bar-menu-size:60px;
$bar-padding:10px;
$bar-element-height:($bar-menu-size) - ($bar-padding * 2);

$bar-summary-left:200px;
$bar-summary-right:200px;

[data-focus='bar'] {
  height:$bar-menu-size;
  line-height: $bar-element-height;
  position: relative;
  padding:$bar-padding;
  padding-left: $bar-menu-size + $bar-padding;

  [data-focus='bar-content-left'] {
    float:left;
    height:$bar-element-height;
    line-height: $bar-element-height;
    width:$bar-summary-left;
    overflow: hidden;
    white-space: nowrap;
  }
  [data-focus='bar-content-right'] {
    float:right;
    height:$bar-element-height;
    line-height: $bar-element-height;
    background: transparent;
    text-align: right;
    white-space: nowrap;
    padding-left: 20px;
  }
  [data-focus='bar-content-middle'] {
    height:$bar-element-height;
    line-height: $bar-element-height;
    background: transparent;
    margin: 0 0 0 $bar-summary-right;
    overflow: hidden;
    white-space: nowrap;
  }
}
