[data-focus='icon-dropdown'] {
    position: relative;
    [data-focus='dropdown-menu'] {
        position: absolute;
        white-space: nowrap;
        background: white;
        z-index: 1;
        text-align: left;
        box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

        [data-role='dropdown-item'] {
            padding: 10px;
            cursor: pointer;
            white-space: nowrap;
            width: calc(100% - 20px);

            &:hover {
                background-color: #EEE;
            }
        }
    }

    & > [data-position='bottom-left'] {
        right: 5px;
        top: 60px;
        [data-role='dropdown-item'] {
            text-align: right;
        }
    }

    & > [data-position='bottom-right'] {
        left: 5px;
        top: 60px;
        [data-role='dropdown-item'] {
            text-align: left;
        }
    }

    & > [data-position='top-left'] {
        right: 5px;
        bottom: 60px;
        [data-role='dropdown-item'] {
            text-align: right;
        }
    }

    & > [data-position='top-right'] {
        left: 5px;
        bottom: 60px;
        [data-role='dropdown-item'] {
            text-align: left;
        }
    }

}
