$advanced-search-facet-box-width: 275px;

[data-focus='advanced-search'] {

  [data-focus='facet-container'] {
    float: left;
    width: $advanced-search-facet-box-width;
    margin-left: -20px;
  }

  [data-focus='result-container'] {
    margin-left: 300px;
  }

  [data-focus="group-result-container"] {
    h3 {
      margin: 0;
      padding: 15px 10px;
      color: #36b6b8;
    }
  }
}
