
.liveFilterContainer {
  padding-right: 10px;
}


.advanced-search {
  .liveFilterContainer, .resultContainer {
    vertical-align:top;
    float:left;
  }
}

.listSummaryContainer {
  height:50px;
}
