/* MDL Variable definitions */
$image_path: '../../node_modules/material-design-lite/src/images' !default;
$input-text-font-size: 13px !default;
$input-text-vertical-spacing: 0px !default;
$radio-label-font-size: 13px !default;
$checkbox-label-font-size: 13px !default;
