$layout-background-color: #f8f8f8;
$layout-scrollbar-color: #36b7b9;
$layout-scrollbar-hover-color: #6AB2E5;
$layout-scrollbar-background-color: #e2e2e2;

html {
  position: relative;
  min-height: 100%;
}

body {
  min-width: 1300px;
  background-color: $layout-background-color;
  margin-bottom: 80px;
}

[data-focus='page-content'] {
  margin-left: 60px;
  padding: 10px 25px;
}

[data-focus='footer'] {
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  padding-left: 70px;
  width: 100%;
}

/* color of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $layout-scrollbar-background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $layout-scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $layout-scrollbar-hover-color;
}


