
[data-focus="loading-bar"] {
    position: fixed;
    z-index: 999999;
    width: 100%;

    [data-focus="progress-bar"] {
        margin:0;
        background-color: transparent;
        overflow: visible;
        .progress-bar {
            -moz-box-shadow: 0px 0px 6px 0px #03A9F4;
            -webkit-box-shadow: 0px 0px 6px 0px #03A9F4;
            -o-box-shadow: 0px 0px 6px 0px #03A9F4;
            box-shadow: 0px 0px 6px 0px #03A9F4;
        }
    }

    ul {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0 0 0 60px;
        list-style: none;
        width: 100%;
        margin: 0;
        li {
            width: 200px;
            display: inline-block;
            padding: 10px;
            font-size: 18px;
            i {
                position: relative;
                top: 5px;
            }

            span {
                margin: 0 5px;
            }

        }
    }

}
