/*$bloc-background: #fff;         //normal
$bloc-background-hover: #fff;   //on mouse over
$bloc-background-active: #F9F9F9;  //in edit mode
$bloc-border-color: #e7e7e7;*/
$bloc-title-color:#36b7b9;


[data-focus='block'] {
    width: 100% !important;
    margin-bottom: 30px;
    z-index: auto !important;

    [data-focus='block-title'] {
        h1,h2,h3,h4 {
            margin: 0;
            margin-right: 20px;
            padding: 2px 0;
            font-size: 16pt;
            color:$bloc-title-color;
            display: inline-block;
        }
    }
    [data-focus='block-title'] {
        //override color here.
    }
    [data-focus='block-actions'] {
        text-align: center;
    }
}
