$bloc-background: #fff;         //normal
$bloc-background-hover: #fff;   //on mouse over
$bloc-background-active: #F9F9F9;  //in edit mode
$bloc-border-color: #e7e7e7;
$bloc-title-color:#36b7b9;

[data-focus='block'] {
  background-color: $bloc-background;
  border: solid 1px transparent;
  box-shadow: 1px 1px 4px 1px $bloc-border-color;
  margin-bottom: 15px;
  header{
    padding: 16px;
    border-bottom:1px solid $bloc-border-color;
    h1,h2,h3,h4 {
      margin: 0;
      margin-right: 20px;
      padding: 2px 0;
      font-size: 16pt;
      color:$bloc-title-color;
      display: inline-block;
    }
    .actions {
      display: none;
      margin-left: 20px;
      height: 16pt;
      line-height: 16pt;
      .btn {
        margin:0;
        padding: 3px 15px;
      }
    }
  }
  &:hover {
    border:1px solid #36b7b9;
    .actions {
      display: inline-block;
    }
  }
  .block-content {
    display:block;
    width: 100%;
    padding: 16px;
    font-size: 12pt;
    display: inline-block;

    //rendu du selection list dans les block
    [data-focus="selection-list"] {
      margin: 40px 20px;
    }
  }
}

[data-mode='edit'] {
  [data-focus='block'] {
    background-color: $bloc-background-active;
    border:1px solid #36b7b9;
    .actions {
      display: inline-block;
    }
  }
}