

[data-focus="topic-displayer"] {
    display: inline-block;
    [data-focus="button-action"] {
        font-size: 12px;
        margin: 0 5px;
        text-transform: capitalize;
        padding: 3px 10px;
        height: auto;
        line-height: 25px;
        i {
            font-size: 16px;
        }
    }
}
