
[data-focus="template"] {
    .demo-drawer-header {
        padding: 10px;
        h1 {
            margin: 0;
            font-size: 22px;
            background-image: url('/focus-components/example/toto/logo-focus.png');
            background-position: 50%;
            background-repeat: no-repeat;
            padding-top: 90px;
            text-align: center;
            text-transform: uppercase;
            font-family: Roboto;
            font-weight: lighter;
            strong {
                margin: 0 3px;
            }
        }
        h2 {
            margin: 5px 0;
            font-size: 14px;
            text-align: center;
            line-height: normal;
            padding: 0;
            text-transform: uppercase;
            font-family: Roboto;
            /*font-weight: lighter;*/
            color:#757575;
        }
    }

    .demo-navigation .mdl-navigation__link .fa {
        margin-right: 32px;
        font-size: 24px;
    }

    .demo-content {
        padding: 20px 80px;
    }

    // .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    //     padding: 40px 8px;
    // }
}
