$checkobox-with-error-color: #de3226;

// Gestion CSS de l'erreur sur les checkboxs
[data-focus="input-checkbox-with-error-container"] {
    [data-focus="input-checkbox"] {
        height: auto;
    }
    .input-checkbox__error {
        color: $checkobox-with-error-color;
        font-size: 12px;
        display: block;
    }
    &[data-error="true"] {
        .mdl-checkbox {
            &.is-checked {
                .mdl-checkbox__tick-outline {
                    background-color: $checkobox-with-error-color;
                }
            }
        }
        .mdl-checkbox__box-outline {
            border-color: $checkobox-with-error-color;
        }
    }
}
