<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Focus component examples</title>
    <meta name="description" content="Example of the component.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="/focus-components/dist/js/focus.js"></script>
    <script src="/focus-components/dist/js/focus-components.js"></script>
    <link rel="stylesheet" href="/focus-components/dist/css/focus-components.css">


    <!-- Material degign-->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/ripples.css">

    <link rel="font" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/fonts/Material-Design-Icons.eot">
    <link rel="font" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/fonts/Material-Design-Icons.svg">
    <link rel="font" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/fonts/Material-Design-Icons.ttf">
    <link rel="font" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/fonts/Material-Design-Icons.woff">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"></script>
    <!-- Material degign-->

</head>
<body>
<div id="dropdown-container"></div>

<script type="text/javascript">
    React.render(
            React.createElement(React.createClass(FocusComponents.common.dropdown.mixin),
                    {operationList:[
                        {label: "Action_a",action: function() {alert("Actiona");},style: "class"},
                        {label: "Action_b",action: function() {alert("Actionb");}},
                        {label: "Action_c",action: function() {alert("Actionc");}},
                        {label: "Action_d",action: function() {alert("Actiond");}},
                        {label: "Action_e",action: function() {alert("Actione");}},
                        {label: "GROUPA", childOperationList:[
                            {label: "aa",action: function() {alert("Action aa");}},
                            {label: "ab",action: function() {alert("Action ab");}},
                            {label: "ac",action: function() {alert("Action ac");}},
                            {label: "ad",action: function() {alert("Action ad");}},
                        ]}

                    ]}
            ),
            document.querySelector("#dropdown-container")
    );
</script>

</body>

</html>
