$sticky-nav-size:200px;
$sticky-nav-font-size:13pt;
$sticky-nav-active-font-size:16pt;

[data-focus='sticky-navigation'] {
  background-color: transparent;
  width: $sticky-nav-size;
  float: left;
  font-size: $sticky-nav-font-size;

  .active {
    font-weight: bold;
  }
}
