$select-border-color:rgba(0,0,0, 0.12);
$select-text-color:rgba(0, 0, 0, 0.541176);
$select-error-color: rgb(222, 50, 38);
$select-label-error-font-size:12px;

/****************************************************/
/* TO REMOVE when mdl will be integrated for select */
[data-focus='select'] {
    select {
        border-top:0;
        border-left:0;
        border-right: 0;
        border-bottom: 1px solid $select-border-color;
        padding: 3px 3px;
        color: $select-text-color;
    }
    &[data-valid='false'] {
        select {
            border-bottom: 1px solid $select-error-color;
        }
        .label-error {
            color: $select-error-color;
            position: absolute;
            font-size: 12px;
        }
    }
}
/****************************************************/
