.common-parent-bottom-left {
  position: relative;

  div:nth-child(1) {
    left: 0px !important;

      div:nth-child(1) {
        transform-origin: bottom left !important;
      }
  }
}

.common-parent-bottom-right {
  position: relative;

  div:nth-child(1) {
    left: 0px !important;

      div:nth-child(1) {
        transform-origin: bottom right !important;
      }
  }
}

.common-parent-top-left {
  div:nth-child(1) {
      div:nth-child(1) {
        transform-origin: top left !important;
      }
  }
}

.common-parent-top-right {
  div:nth-child(1) {
      div:nth-child(1) {
        transform-origin: top right !important;
      }
  }
}
