.commonParent {
  position: relative;

  div:nth-child(1) {
    left: 0px !important;

      div:nth-child(1) {
        transform-origin: bottom left !important;
      }
  }
}

.common-parent-bottom {


  div:nth-child(1) {
      div:nth-child(1) {
        transform-origin: top left !important;
      }
  }
}
