[data-focus='error-center']{
  position:fixed;
  bottom: 60px;
  right: 10px;
  z-index: 9999999;
  max-width: 300px;
  min-width: 200px;
  background-color: tomato;
  color: white;
  color: white;
  div[data-focus='error-counter']{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  div[data-focus='error-actions']{
    display: flex;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  /* Then we define how is distributed the remaining space */
    justify-content: space-around;
  }
  ul[data-focus='error-stack']{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    li{
      background: transparent;
      padding: 5px;
      width: 300px;
      height: 92px;
      margin-top: 10px;
      line-height: 20px;
      color: white;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
    }
  }
}
